{ZL.Source id="dfassd数据源标签"/}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="dfassd数据源标签" FD="Title" page="0"/}</title>
<link href="/skin/style.css" rel="stylesheet" type="text/css" />
<meta name="Keywords" content="{SField sid="dfassd数据源标签" FD="Tagkey" page="0"/}">
</head>
<body>
模板内容放这里
</body>
</html>