/* CSS Document */
form,ul,li,h3,h4,h5,h6{margin:0px;padding:0px}
body{
	font-size:12px;
	font-family: Arial, "ו";
	line-height: 150%;
	background-color: #FFFFFF;
	margin: 0px;
	color: #000000;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 3px;
	font-size: 14px;
}
.bian {
	border: 1px solid #999999;
}
.flogin_title {
	font-size: 16px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	color: #477105;
	padding-bottom: 3px;
	margin-bottom: 7px;
	padding-left: 5px;
}
.red14 {
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
}
.hui14 {
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}

.l1 {
	float: left;
}
.l2 {
	float: right;
}
.font14 {
	font-size: 14px;
}
.font16b {
	font-size: 16px;
	font-weight: bold;
	color: #325AA2;
}
.it1 {
	BACKGROUND: #fff;
	COLOR: #333;
	border: 1px solid #999999;
}
.it2 {
	COLOR: #333;
	border: 1px solid #999999;
	background-color: #fff;
	background-image: url(../../images/inputbg.gif);
}
.rb1 {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 3px;
	CURSOR: pointer;
	COLOR: #fff;
	PADDING-TOP: 3px;
	HEIGHT: 25px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #6a6a6a;
	border-bottom-color: #6a6a6a;
	border-left-color: #CCCCCC;
	background-color: #2152AB;
}
.rb2 {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-SIZE: 14px;
	PADDING-BOTTOM: 3px;
	CURSOR: pointer;
	COLOR: #fff;
	PADDING-TOP: 3px;
	HEIGHT: 25px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #6a6a6a;
	border-bottom-color: #6a6a6a;
	border-left-color: #CCCCCC;
	background-color: #1B4590;
}
.btmbian {
	border: 1px solid #326CD8;
}
#mainhead {
	background-image: url('../../images/bodybg.gif');
	width: 939px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 12px;
	padding-left: 12px;
}
#mainhead #logo {
	background-image: url(../../images/logobg.gif);
	height: 70px;
}
#mainbody {
	background-image:url('../../images/bodybg.gif'); 
PADDING-LEFT: 12px;
    width: 939px;
	padding-right: 12px;
	padding-left: 12px;
	margin-right: auto;
	margin-left: auto;
}
#mainbody h5 {
	height: 20px;
	background-color: #EEF3FF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C5C6;
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
}

#mainbody A{color: #0080FF;text-decoration:underline;}
#mainbody A:hover{color:#FF6600;text-decoration:underline;}
#mainbody ul {
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 40px;
	padding-left: 60px;
}


.footfrm {	background-image: url(../../images/footbg.gif);	height: 40px;	width: 940px;	margin-right: auto;	margin-left: auto;	padding-right: 12px;	padding-left: 12px;}
#foot {	padding-top: 10px;	border-top-width: 1px;	border-top-style: solid;	border-top-color: #C4C5C6;	text-align: center;	color: #666666;}
#foot A{color: #666666;text-decoration:none;}
#foot A:hover{color:#666666;text-decoration:underline;}

#mainbody #center #cmenu .noselect {
	text-align: center;
	float: left;
	height: 28px;
	margin-right: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-size: 14px;
	background-color: #F3F3F3;
}

.i_title14 {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
a.i_admin:link {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	font-weight: normal;
}
a.i_admin:visited {
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	font-weight: normal;
}
a.i_admin:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	font-weight: normal;
}
.clearfix {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; VISIBILITY: hidden; LINE-HEIGHT: 0%; HEIGHT: 1%; content: "."
}
.join {
	
	height: 30px;
	width: 80px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand
}
.qd {

	height: 30px;
	width: 80px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand
}
.top {
	height: 28px;
	width: auto;
	background-color: #FFFFFF;
}
#mainbody #center {
	width: 460px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
#mainbody #center1 {
	width: 710px;
	margin-left: 10px;
	float: left;
}
#mainbody #center {
	
	padding: 10px;
	margin-bottom: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #5e5e5e;
	border-bottom-color: #5e5e5e;
	border-left-color: #5e5e5e;
	width: 438px;
}
#left{ float:left; width:400px;}
#Ycenter{ float:left; width:300px; padding-left:20px;}
img
{
    border:0;
}

.join {
	height: 24px;
	width: 80px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand
}
.qd {
	height: 24px;
	width: 80px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand
}