{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
<link href="../../../Skin/gcwuliu/global.css" rel="stylesheet" type="text/css" />
<script>
function scrollDoor(){
}
scrollDoor.prototype = {
sd : function(menus,divs,openClass,closeClass){
	var _this = this;
	if(menus.length != divs.length)
	{
		alert("菜单层数量和内容层数量不一样!");
		return false;
	}				
	for(var i = 0 ; i < menus.length ; i++)
	{	
		_this.$(menus[i]).value = i;				
		_this.$(menus[i]).onclick = function(){
				
			for(var j = 0 ; j < menus.length ; j++)
			{						
				_this.$(menus[j]).className = closeClass;
				_this.$(divs[j]).style.display = "none";
			}
			_this.$(menus[this.value]).className = openClass;	
			_this.$(divs[this.value]).style.display = "block";				
		}
	}
	},
$ : function(oid){
	if(typeof(oid) == "string")
	return document.getElementById(oid);
	return oid;
}
}
window.onload = function(){
	var SDmodel = new scrollDoor();
SDmodel.sd(["m01","m02","m03","m04"],["c01","c02","c03","c04"],"sd01","sd02");
}
</script>
<style>
	#nav .menu{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/} a{ color:#FF0;}
</style>
</head>

<body>
<!-- 网站头部开始 -->
{ZL.Label id="全部头部"/}
<!-- 网站头部结束 -->
<!--网站导航-->
{ZL.Label id="网站导航"/}
<!--网站导航结束-->
<div id="yp_main">
<div id="yp_main_L">
<div id="left_hy">
<div class="left_hy_tit">推荐企业</div>
<div class="left_hy_cnt">
    <ul>
        {ZL.Label id="推荐企业" TitleNum="28" ShowNum="15" /}
    </ul>
</div>
</div>

<div id="left_hy">
<div class="left_hy_tit">最新加入企业</div>
<div class="left_hy_cnt">
    <ul>
        {ZL.Label id="输出最新企业信息2" TitleNum="28" ShowNum="15" /}
    </ul>
</div>
</div>
</div>
<div id="yp_main_R">
    <div id="right_title">地区分类</div>
    <div id="right_count">
    <div class="hangye">
        <div class="hangye_tit"><a href="{ZL:GetHotinfo(24)/}&addr={$GetUrlencode(华北)$}">华 北</a></div>
        <ul>
        	{ZL.Label id="输出企业信息根据分类" TitleNum="30" ShowNum="8" addr="华北" /}
        </ul>
    </div>
    <div class="hangye">
        <div class="hangye_tit"><a href="{ZL:GetHotinfo(24)/}&addr={$GetUrlencode(华中)$}">华 中</a></div>
        <ul>
        	{ZL.Label id="输出企业信息根据分类" TitleNum="30" ShowNum="8" addr="华中" /}
        </ul>
    </div>
    <div class="clear"></div>
    <div class="hangye">
        <div class="hangye_tit"><a href="{ZL:GetHotinfo(24)/}&addr={$GetUrlencode(华东)$}">华 东</a></div>
        <ul>
        	{ZL.Label id="输出企业信息根据分类" TitleNum="30" ShowNum="8" addr="华东" /}
        </ul>
    </div>
    <div class="hangye">
        <div class="hangye_tit"><a href="{ZL:GetHotinfo(24)/}&addr={$GetUrlencode(华南)$}">华 南</a></div>
        <ul>
        	{ZL.Label id="输出企业信息根据分类" TitleNum="30" ShowNum="8" addr="华南" /}
        </ul>
    </div>
    <div class="clear"></div>
    <div class="hangye">
        <div class="hangye_tit"><a href="{ZL:GetHotinfo(24)/}&addr={$GetUrlencode(西南)$}">西 南</a></div>
        <ul>
        	{ZL.Label id="输出企业信息根据分类" TitleNum="30" ShowNum="8" addr="西南" /}
        </ul>
    </div>
    <div class="hangye">
        <div class="hangye_tit"><a href="{ZL:GetHotinfo(24)/}&addr={$GetUrlencode(西北)$}">西 北</a></div>
        <ul>
        	{ZL.Label id="输出企业信息根据分类" TitleNum="30" ShowNum="8" addr="西北" /}
        </ul>
    </div>
    <div class="clear"></div>
    <div class="hangye">
        <div class="hangye_tit"><a href="{ZL:GetHotinfo(24)/}&addr={$GetUrlencode(东北)$}">东 北</a></div>
        <ul>
        	{ZL.Label id="输出企业信息根据分类" TitleNum="30" ShowNum="8" addr="东北" /}
        </ul>
    </div>
    </div>
</div>
</div>
<div class="clear"></div>
<!-- 网站底部 -->
{ZL.Label id="全站底部"/}
</body>
</html>