<?xml version="1.0"?>
<UserModuleConfig>
  <JobsConfig>
    <IsUsed>true</IsUsed>
    <CompanyGroup>2</CompanyGroup>
    <PersonGroup>2</PersonGroup>
    <Resume>0</Resume>
    <Company>0</Company>
    <CompanyField>0</CompanyField>
    <CompanyJobs>14</CompanyJobs>
    <JobsField>0</JobsField>
    <ConsumePoint>10</ConsumePoint>
    <ConsumeType>0</ConsumeType>
  </JobsConfig>
</UserModuleConfig>                                                                                                                                                                      