{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}_频道首页</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
<link href="../../../Skin/gcwuliu/global.css" rel="stylesheet" type="text/css" />
{ZL:HTML5()/}
<script>
function scrollDoor(){
}
scrollDoor.prototype = {
	sd : function(menus,divs,openClass,closeClass){
		var _this = this;
		if(menus.length != divs.length)
		{
			alert("菜单层数量和内容层数量不一样!");
			return false;
		}				
		for(var i = 0 ; i < menus.length ; i++)
		{	
			_this.$(menus[i]).value = i;				
			_this.$(menus[i]).onclick = function(){
					
				for(var j = 0 ; j < menus.length ; j++)
				{						
					_this.$(menus[j]).className = closeClass;
					_this.$(divs[j]).style.display = "none";
				}
				_this.$(menus[this.value]).className = openClass;	
				_this.$(divs[this.value]).style.display = "block";				
			}
		}
		},
	$ : function(oid){
		if(typeof(oid) == "string")
		return document.getElementById(oid);
		return oid;
	}
}
window.onload = function(){
	var SDmodel = new scrollDoor();
SDmodel.sd(["m01","m02","m03","m04"],["c01","c02","c03","c04"],"sd01","sd02");
}
</script>
</head>

<body>
{ZL.Label id="全部头部"/}
 <!-- 网站头部结束 -->
 <!--网站导航-->
 {ZL.Label id="网站导航"/}
  <!--网站导航结束-->
<!-- 网站主体 -->
<div id="mysite">
	<p>您的位置：<a href="/">{$SiteName/}</a>>>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}>>栏目列表</p>
</div>
<div id="CONmain">
<div class="layout grid-m0s250 clearfix">
<div class="col-main">
<div class="main-wrap main-wrap-skin-yellow">
    <div class="bd">
        <div class="con">
            <div class="hd">
                <h3>我要咨询</h3>
            </div>
           
    <script>
    	function tijiao()
		{
				var PubTitle=document.getElementById("PubTitle").value;
				var PubContent=document.getElementById("PubContent").value;
				var nickname=document.getElementById("nickname").value;
				var realname=document.getElementById("realname").value;
				var tel=document.getElementById("tel").value;
				var PostValidateCode=document.getElementById("PostValidateCode").value;
				
				if(PubTitle==''){
					alert("标题不能为空");
					return false;
					}
					if(PubContent==''){
					alert("内容不能为空");
					return false;
					}
					if(nickname==''){
					alert("昵称不能为空");
					return false;
					}
					if(realname==''){
					alert("真实姓名不能为空");
					return false;
					}
					if(tel==''){
					alert("联系电话不能为空");
					return false;
					}
					if(PostValidateCode==''){
					alert("验证码不能为空");
					return false;
					}
			}
    </script>
      <form name="form9" method="post" action="/PubAction.aspx" on>
            <ul class="baoliao-list">
                <li><span class="c-red">*</span>
                标题：<input name="PubTitle" class="QZ_text" type="text" id="PubTitle" tabindex="1">
                <input type="hidden" name="PubID" id="PubID" value="9">
                <input type="hidden" name="PubContentid" id="PubContentid" value="{PubContentid/}"></li>
                <li><span class="c-red">*</span>
                内容：<textarea id="PubContent" name="PubContent" style="width:600px; height:200px;" runat="server"></textarea>
                </li>
                <li><span class="c-red">*</span>
                您的昵称：<input type="text" name="nickname" id="nickname" maxlength="32"  class="baoliao-text" tabindex="3" />
                <span class="c-red">用于显示</span></li>
                <li><span class="c-red">*</span>
                您的姓名：<input type="text" name="realname" id="realname" maxlength="20" class="baoliao-text" tabindex="4" />
                <span class="c-red">用于核实信息，严格保密，不会外泄</span>
                </li>
                <li><span class="c-red">*</span>
                联系方式：<input type="text" name="tel" id="tel" maxlength="30" class="baoliao-text" tabindex="5" />
                <span class="c-red">用于核实信息，严格保密，不会外泄</span>
                </li>
                <li class="submit"><input type="button" onClick="tijiao()" class="baoliao-btn" value="提交" />{PubCode/}</li>
            </ul>
			
            </form>
 
            <div class="tit">
                <h3>最新咨询</h3>
            </div>
               <ul id="info-list" class="info-list">
 {ZL.Label id="法律咨询调用标签"/}
				</ul>

        </div>
    </div>
</div>
</div>
    <div class="col-sub">
<div class="box box-skin-yellow">
    <div class="bd">
        <div class="con">
            <div class="hd">
                <h3>其他咨询方式</h3>
            </div>
            <div class="other">
                <p>咨询电话: 0791-<strong>8888888</strong></p>
                <p>咨询QQ：<a style="cursor:pointer" onclick="javascript:document.location.href='Tencent://Message/?menu=yes&exe=&uin=1140485317&Site=优优网&info='"><img src="/Skin/gcwuliu/images/bao.gif" alt="QQ" /></a><a style="cursor:pointer" onclick="javascript:document.location.href='Tencent://Message/?menu=yes&exe=&uin=1239313219&Site=优优网&info='"><img src="/Skin/gcwuliu/images/bao.gif" alt="QQ" /></a></p>
                <p>咨询邮箱: xxxxx@163.com</p>
            </div>
            <div class="con-gray">
                <div class="bd">
                  <p>1、请将事件发生的人物、地点、进程、涉及部门等关键要素表述清楚便于跟进；</p>
                    <p>2、再愤怒也不许说脏话，该拥护的还必须拥护；</p>
                    <p>3、对恶意围观或散播他人隐私的帖子，小编有权关门放狗；</p>
                    <p>4、如有证据性材料，请以图片(限200K)或视频的形式上传；</p>
                    <p>5、线索采用必奖，所以最好留下真实信息</p>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<div style=" clear:both;"></div>
<!-- 网站底部 -->
{ZL.Label id="全站底部"/}
</body>
</html>