<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$SiteName/}</title>
<link href="../../Skin/Company/global.css" rel="stylesheet" type="text/css" />
<SCRIPT src="/Skin/Company/js/tab.js" type="text/javascript"></SCRIPT>
{$MetaKeywords/}
{$MetaDescription/}
</head>
<body>
<div id="box">
<div class="banner">
	   <div id="head">
	       <div class="logo"><a href="/"><img src="/skin/Company/images/logo.gif" /></a></div>
		   <div style="float:left; width:164px; height:86px;"><a href="/"><img src="/skin/Company/images/logo600.jpg" /></a></div>
		   <div class="righttext"><iframe src="../Search/indexSearch.aspx" marginwidth="1" marginheight="1" scrolling="no" border="0" frameborder="0" width="466px" height="25px"></iframe>

         </div>
	   </div>
<div id="menu" class="menu">   
<ul>  
        <li style="width:82px;"><a class="cur" href="/index.html"> 首 页<!--[if IE 7]><!--></a><!--<![endif]-->  
            <!--[if lte IE 6]><table><tr><td><![endif]--> <!--[if lte IE 6]></td></tr></table></a><![endif]--> </li> 
        <li style="width:99px;"><a href="/product.html">公司介绍 
            <!--[if IE 7]><!--></a><!--<![endif]-->  
            <!--[if lte IE 6]><table><tr><td><![endif]--> 
            <ul class="pro_bg"> 
			  <li> 
              <span class="produt_all">
			 <h3 class="chanpin_list"><a href="">关于公司的详细介绍</a></h3>
		  </span>
		  </li>
            </ul>  
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
        </li>
		<li style="width:113px;"><a href="/serve_bear.html">新闻中心 
            <!--[if IE 7]><!--></a><!--<![endif]-->  
            <!--[if lte IE 6]><table><tr><td><![endif]--> 
            <ul class="pro_bg_s">  
               <li>
			   <span class="produt_all">
			 <h3 class="chanpin_list"><a href="">企业的动态、公告以及相关信息的披路</a></h3>
		     </span>
			   </li>
            </ul>  
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
        </li>
        <li style=" width:98px;"><a href="">产品中心
            <!--[if IE 7]><!--></a><!--<![endif]-->  
            <!--[if lte IE 6]><table><tr><td><![endif]--> 
            <ul class="pro_bg_3">  
               <li>
			   <span class="produt_all_s">
			 <h3 class="chanpin_list"><a href="">我们出售的产品以及详细图文参数</a></h3>
		     </span>
			   </li>
            </ul>  
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
        </li>
		<li style=" width:97px;"><a href="/news_index.html">服务网络 
            <!--[if IE 7]><!--></a><!--<![endif]-->  
            <!--[if lte IE 6]><table><tr><td><![endif]--> 
            <ul class="pro_bg_4">  
              <li>
			  <span class="produt_all_s">
			 <h3 class="chanpin_list"><a href="">各地代理</a></h3>
			 <h3 class="chanpin_list"><a href="">商务平台</a></h3>
		     </span>
			  </li>
            </ul>  
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
        </li>
		<li style="width:138px;"><a href="/about.html">产品图库及展示
            <!--[if IE 7]><!--></a><!--<![endif]-->  
            <!--[if lte IE 6]><table><tr><td><![endif]--> 
            <ul class="pro_bg_5">  
               <li>
			   <li>
            <span class="produt_all_5">
			 <h3 class="chanpin_list"><a href="/about_intro.html?pId=4&sId=2">企业介绍</a></h3>
		     </span>
			   </li>
            </ul>  
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
        </li>
        
    </ul>
    
</div> 
<div class="tel">
全国客服服务热线 021-54173031/13177777714
</div> 
</div>
<!--头部定义结束 -->

<div id="info">
<span><Img src="../../Skin/Company/images/icon_home.gif" />您的位置:<a href="/">{$SiteName/}</a>>>首页>></span>
<ul>
  <li style="width:80px; margin-top:1px;"><a href="/rss/Default.aspx" target="_blank"><img src="/skin/Company/images/icon_rss.gif" /></a></li>
  <li>
  <script>
var marqueeContent=new Array();   //滚动主题

marqueeContent[0]='<a href="http://www.zoomla.cn/Content.aspx?ItemID=515" target="_blank">逐浪软件进军上海开启双核研发</a>';
marqueeContent[1]='<a href="http://www.zoomla.cn/ColumnList.aspx?NodeID=21" target="_blank">各地媒体纷纷报道逐浪CMS</a>';
marqueeContent[2]='<a href="http://www.zoomla.cn/Content.aspx?ItemID=526" target="_blank">逐浪CMS完全免费开放的使用通知</a>';
marqueeContent[3]='<a href="http://www.zoomla.cn/Content.aspx?ItemID=545" target="_blank">4.0版本发布通知</a>';
marqueeContent[4]='<a href="http://www.zoomla.cn/help" target="_blank">免费下载逐浪CMS软件和教程</a>';
marqueeContent[5]='<a href="http://www.zoomla.cn/blog" target="_blank">官方开发者博客欢迎雅鉴</a>';

var marqueeInterval=new Array();  //定义一些常用而且要经常用到的变量
var marqueeId=0;
var marqueeDelay=4000;
var marqueeHeight=25;
function initMarquee() {
var str=marqueeContent[0];
document.write('<div id=marqueeBox style="overflow:hidden;width:200px;text-overflow:ellipsis; -o-text-overflow:ellipsis;  white-space:nowrap; height:22px; line-height:22px;'+marqueeHeight+'px" onmouseover="clearInterval(marqueeInterval[0])" onmouseout="marqueeInterval[0]=setInterval(\'startMarquee()\',marqueeDelay)"><div>'+str+'</div></div>');
marqueeId++;
marqueeInterval[0]=setInterval("startMarquee()",marqueeDelay);
}
function startMarquee() {
var str=marqueeContent[marqueeId];
marqueeId++;
if(marqueeId>=marqueeContent.length) marqueeId=0;
if(marqueeBox.childNodes.length==1) {
var nextLine=document.createElement('DIV');
nextLine.innerHTML=str;
marqueeBox.appendChild(nextLine);
}
else {
marqueeBox.childNodes[0].innerHTML=str;
marqueeBox.appendChild(marqueeBox.childNodes[0]);
marqueeBox.scrollTop=0;
}
clearInterval(marqueeInterval[1]);
marqueeInterval[1]=setInterval("scrollMarquee()",10);
}
function scrollMarquee() {
marqueeBox.scrollTop++;
if(marqueeBox.scrollTop%marqueeHeight==marqueeHeight){
clearInterval(marqueeInterval[1]);
}
}
initMarquee();
</script>
  </li>
</ul>
</div>

<!--幻灯片开始-->
<div id="home_banner">
 <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="402">
<param name="wmode" value="opaque" />
<param name="movie" value="/skin/Company/swf/homeflashShow.swf?images=/skin/Company/images/ad1.jpg|/skin/Company/images/ad2.jpg|/skin/Company/images/ad3.jpg&amp;titles=高品质的门户网站与站群系统|上海+南昌双核研发，首获ISO9001国际质量体系认证|军工品质领衔国内CMS行业研发"/><param name="quality" value="high">
<embed src="/skin/Company/swf/homeflashShow.swf?images=/skin/Company/images/ad1.jpg|/skin/Company/images/ad2.jpg|/skin/Company/images/ad3.jpg&amp;titles=高品质的门户网站与站群系统|上海+南昌双核研发，首获ISO9001国际质量体系认证|军工品质领衔国内CMS行业研发" width="924" height="402" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"><!--兼容FF --></embed>
</object>
</div>
<!-幻灯片结束 -->

<div id="content">
<div class="content01">
    <div class="content01_left">
      <div class="topnav">
        <ul class="clearfix" id=tbt>
          <li class="topnav_01" onclick="them('them01',this);">业界动态</li>
          <li onclick="them('them02',this);">公司新闻</li>
          <li onclick="them('them03',this);">关于我们</li>
          <li onclick="them('them04',this);">企业文化</li>
        </ul>
      </div>
      <div id="ttb" style="height:273px; overflow: hidden;">
        <!-- 业界动态 -->
    <div class="content02" id="them01">
      <div class="content02_foot_bg">
   <div class="home_news">
       <ul>
{ZL.Label id="输出指定节点标题_带时间属性" NodeID="1" TitleNum="30" ShowNum="18" /}
   	  </ul>
       </div>
      </div>
    </div>
        <!-- 业界动态-结束 -->
        
        <!-- 关于我们 -->
        <div class="content02" id="them03" style="display:none">
          <div class="content02_foot_bg">
    <div class="content02_right" >
   <div class="home_news">
       <ul>
       <a href="/"><Img src="{$LogoUrl/}" /></a>
       <p>      上海逐浪软件科技有限是中国领先的电子商务服务商，旗下拥有逐浪软件、华夏互联、华夏营销网三大门户。公司拥有逾十年的网站开发与解决方案服务经验，服务客户包括政府、军工、外企、世界五百强企业，致力于打造最优秀的网站内核管理系统。逐浪®CMS是由上海逐浪软件科技有限公司完全自主开发的、拥有独立知识产权，是国内首家通过ISO9001国际质量标准体系认证的（CMS）开发商。 <br />
      众所周知，构成互联网信息交互与人机交流的基础是无数个各自独网站，其背后运行着专业的CMS系统。CMS是英文Content Management System的缩写，意为“内容管理系统”，逐浪CMS系统则在此基础上进行创新，提出了Web Kernel and Content Management System（WCMS）概念，意为网站内核管理系统。逐浪CMS首倡“箱子”理念，所有应用都是可拆卸的，用户可以打开“箱子”的不同展面以满足需求。<br />
其于卓越开发平台研发的逐浪CMS，为适应未来站点发展的需要，独创的模型设计理念与无限节点功能，用户可以根据自己的网站需要建立各类模型，从而满足个性化开发的需要，不再限于传统的“内容管理系统”只能简单的进行界面修改和设计而已。！</p>
   	  </ul>
       </div>

    </div>
  </div>
        </div>
        <!-- 关于我们-结束 -->
        
        <!-- 企业文化 -->
        <div class="content02" id="them04" style="display:none">
          <div class="content02_foot_bg">
           <div class="home_news">
               <ul>
               <a href="/"><Img src="{$LogoUrl/}" /></a>
               <p> <br />
				我们的用人观： 赛马不相马，给每一个人平等的发展机会。<br />
             	我们的工作观：诚信、严谨、高效、务实<br />
        		我们的产业观：科技化、实业化、创新化。</p>
              </ul>
              </div>
            
          </div>
        </div>
        <!-- 活动培训-结束 -->
        <!-- 公司新闻 -->
        <div class="content02" id="them02" >
          <div class="content02_foot_bg">
            <div class="content02_right" >
   <div class="home_news">
       <ul>
{ZL.Label id="输出指定节点标题_带时间属性" NodeID="76" TitleNum="30" ShowNum="18" /}
   	  </ul>
       </div>

            </div>
          </div>
        </div>
        <!-- 公司新闻-结束 -->
      </div>
    </div>
    <!--right plate-->
    <div id="content_r">
    <strong>企业推荐</strong>
    <script type="text/javascript" src="/skin/Company/js/xixi.js"></script>
    <div id="imager_div"></div>
    <script language="javascript" type="text/javascript">
    var swf = new sinaFlash("/skin/Company/swf/shis.swf", "", "220", "200", "8", "#4CC2FF", true,"high");
    swf.addParam("allowScriptAccess", "always");
    swf.addParam("wmode", "opaque");
    swf.addVariable("p_array", "/skin/Company/images/01.jpg|/skin/Company/images/02.jpg|/skin/Company/images/03.jpg");
    swf.addVariable("txt_array", "苏燕 知性女人优雅前行|李孟夏 时尚需要虚荣心|张大川 中国没有时尚魔头");
    swf.addVariable("link_array", "http://www.zoomla.cn/|http://www.hx008.cn/|http://bbs.zoomla.cn/");
    swf.write("imager_div");
    </script>
    <a href="http://www.zoomla.cn/" target="_blank"><img src="../../Skin/Company/images/ad4.jpg" alt="站长乐园" /></a>
    </div>
    <!--right plate close-->
  </div>
 <div style="clear:both"></div>
 <div id="h_box"></div>
</div>
<!--内容结束 -->


<div id="foot">
<a href="/"><img src="/skin/Company/images/Corp_logo.png" /></a>
<ul>
<li><a href="">联系我们</a></li>
<li>|</li>
<li>法律公告</li>
<li>|</li>
<li>隐私保护</li>
<li>|</li>
<li>招贤纳士</li>
<li>|</li>
<li>网站导航</li>
<li>|</li>
<li>意见反馈[+]</li>
<br />
<p>
版权所有 &copy; 2009 上海逐浪软件科技有限公司 江西聚合实业有限公司有限公司 荣誉出品<br />
Copyright © 2009 zoomla.cn All Rights Reserved
</p>
</ul>

</div>
</div>
</body>
</html>