<?xml version="1.0" standalone="yes"?>
<M_CompSecretary>
  <Table1>
    <ID>0</ID>
    <MaxPrice>12</MaxPrice>
    <SetTime>2010/9/14 22:11:58</SetTime>
    <ShopID>327</ShopID>
    <State>0</State>
    <Times>2</Times>
    <UserID>1</UserID>
    <UserName>admin</UserName>
  </Table1>
</M_CompSecretary>